@media screen and (max-width: 480px), screen and (max-height: 320px) {
    .shoppingCartFix {
        padding: 0 !important;
    }

    .addTableAlignment {
        padding: 8px;
    }

    hr {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .viewCartImg {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 640px) {
    .viewCartImg {
        width: 100px;
        height: 100px;
    }

    hr {
        width: 50%;
    }
}

.addTableAlignment {
    padding: 15px;
}

.leftLabel {
    float: left;
}

span .inputAlignmentFix {
    display: table-cell;
}

.table > tbody > tr > td {
    vertical-align: middle;
}
    
.inputWidthFix {
    min-width:80px;
    max-width:100px;
}

.checkoutLine {
    clear: both;
}

.floatRight {
    float: right;
}

hr {
    border-top: 1px solid black;
}

div.backgroundImg:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
	background: url("../Images/Background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #8999a9;
 }