<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <sessionState timeout="60"  mode="InProc"  cookieless="false" regenerateExpiredSessionId="false" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>greqwAiCVzvVsuOP3xTYkWTRkSOfwD7ryhRA0bo/MjMwKwr3HHbtlaR/kWpOYRdoBC6kU8znQXi45/+dtEfvXKRNwoXfaVin0D/tZcTbrKFKOLiBILa5s75RGmBGkC27+wrro2xcO+bKh9FJOy0WNwsN4UX5zDgZFHOfq3XiFsk=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>Gg0HpEalWtt8/2LDRA+Tbu63SsvS9JHs6M1H0K5YBqsDqBzXwM3z1tvC8XP4Pbh57mfF8J/w1AGWKXM9YHsHuqBuGXEPefYXgh9dDOIUddS4JavtvQ8eqmTR3aKI0TLOOcsYe1Xk0DuY6oH+5beYJYBy1i7zMAQIpn0M+feBSR6oOtNt9Tklw7cU69OVN4T9PuoNx2kfiFF4wt183o80eBczCC8A9JNCCyWeiSo7nz0XQYX4ktH0hS+/ab2pHBbH5bXQ4846Vug8fFJXb5F9X8NHECsw9WO2b6DBvUHTvSJ04u4LkTCE9sEnTvYdu97REdxhb3MTbE7GV34ajt1YU/jxP5z43CJX43ppE8E4bD9l9UYWtKJAQzrHrA2cxjIlV2jFEKX1DkXF+cgMytJ+wMswkVOdtrwzhFILyR2BbWXjrJsBhvZM1HdENr8T4SWxd+3Bb3a7PAFN6SeVsFwIerGgr4kfNjXOC2ACXqHjyKsj+HROLc17dUKRWi7hE1A0Qne5MigzMJKftRpau7ML+jrZwRjVr4ek6ozSJZ8BxIj1DQQ3FYSipROh0XHxXtv+KfWZSsk2MVxrmsWyOd2nXXpGuA0znFk6TBlkkJvQ740EcVHp8ohRs6tIFWDXoxGHK1r5WSYdxQvjx+ofyncxl3X79ae3EpCKfybj66VsF4kKuZZo7iadwg==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>