@model IEnumerable<ShoppingCartProject.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Add to Cart", "Add", new { prodId = item.productID })
        </td>
        <td>
            #@Html.DisplayFor(modelItem => item.productID)
        </td>
        <td>
            <img class="viewCartImg" src="~/Content/Images/Products/@(item.productID).png" alt="Product #@item.productID image" width="100" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.price)
        </td>
    </tr>
}

</table>
